@model DotNetBrushUp.DataModels.ContactDataModel

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>*@

<div>
    <h4><strong>Contact Detail</strong></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Contact Name:   
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class="col-sm-2">
            Contact Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class="col-sm-2">
            Contact Address:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>
        <dt class="col-sm-2">
            Contact Phone No:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactPhoneNo)
        </dd>
        @*<dt class="col-sm-2">
        Contact Proof File Path:
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ContactProofFilePath)
        </dd>*@
        <dt class="col-sm-2">
            Contact Proof File Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactProofFileName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" style="color:white" asp-action="Edit" asp-route-id="@Model?.ContactId">Edit</a> |      
    <a asp-action="Index">Back to List</a>
</div>
