@model IEnumerable<DotNetBrushUp.DataModels.ContactDataModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Contacts</h1><hr />
<p>
    <a asp-action="Create" class="btn btn1">Create New Contact</a>
</p>
@*<p>User ID : @ViewData["UserID"]</p>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPhoneNo)
            </th>
            <th>
                Proof File
            </th>
            <th>
                Actions
            </th>            
        </tr>
    </thead>
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhoneNo)
            </td>

            <td>
                @if (!string.IsNullOrEmpty(item.ContactProofFileName))
                {
                    <a href="@Url.Action("DownloadProofFile", "Contacts", new { contactId = item.ContactId })" download>
                        <img src="@Url.Content("~/icons/downloadicon.png")" alt="Download" title="Download Proof File" />
                    </a>
                }
            </td>

            <td style="text-align:center">
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ContactId">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ContactId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ContactId">Delete</a>
            </td>

        </tr>
}
    </tbody>
    
</table>

